.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  background-color: #282c34;
}

.container {
  background-color: #fff;
}

.container {
  background-color: #fff;
}

img#banner {
  width: 100%;
  margin-bottom: 20px;
}

.section-header {
  color: red;
  font-weight: bold;
  padding-top: 5px;
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}

.artist-image {
  height: 250px;
  width: 200px;
  padding-top: 10px;
}

.artist-label {
  font-weight: bold;
  color: white;
  background: red;
  padding: 1px 0 1px 5px;
  margin: 2px;
  text-align: left;
}

.album-image-small {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.album-image-medium {
  width: 150px;
  height: 150px;
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav .nav-tabs {
  border-bottom: solid 1px red;
}

.content {
  min-height: 460px;
}
